<ion-header>
  <ion-toolbar class="hawker-header-background-color">
    <ion-buttons slot="start" class="hawker-toolbar-button">
      <ion-back-button defaultHref="/hawker/profile"></ion-back-button>
    </ion-buttons>
    <ion-title class="hawker-toolbar-title">Subscription Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid *ngIf="hawker">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Subscription Tier: </ion-label>
          <ion-badge
          color="{{hawker.accountTier==='DELUXE' ? 'tertiary' : (hawker.accountTier === 'PREMIUM' ? 'primary' : 'medium')}}"
          >{{hawker.accountTier}}</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="{{hawker.accountUpgradeStatus === 'PENDING' ? 'none' : ''}}">
          <ion-label>Account Upgrade Status: </ion-label>
          <ion-badge
          color="{{hawker.accountUpgradeStatus === 'PENDING' ? 'warning' : 'success'}}"
          >
            {{hawker.accountUpgradeStatus}}
          </ion-badge>
        </ion-item>
        <ion-item lines="none"*ngIf="hawker.accountUpgradeStatus === 'PENDING'">
          <ion-label></ion-label>
          <ion-badge color="tertiary">For DELUXE</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="hawker.accountTier !== 'FREE'">
      <ion-col>
        <ion-item>
          <ion-label>
            Credit Card:
          </ion-label>
          <ion-text>
            {{creditCard.cardName}}, {{creditCard.cardType}} *{{creditCard.truncatedCardNumber.substr(creditCard.truncatedCardNumber.length-4)}} [Default]
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <div *ngIf="hawker.accountTier === 'DELUXE' && masterOutlet">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              Master Outlet:
            </ion-label>
            <ion-text>
              {{masterOutlet.outletName}}
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-button
            style="margin-left: auto; margin-right: auto;font-size: 15px"
            expand="full"
            (click)="changePlan()"
            disabled="{{hawker.accountUpgradeStatus === 'PENDING' || (hawker.accountTier==='DELUXE' && masterOutlet._id !== currentOutlet._id)}}"
          >
            Change Plan
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="display:flex;justify-content: center;" *ngIf="hawker.accountTier==='DELUXE' && masterOutlet._id !== currentOutlet._id">
        <ion-text style="align-items:center">
          Please change your plan in your master outlet
        </ion-text>
      </ion-col>
      <ion-col style="display:flex;justify-content: center;" *ngIf="hawker.accountUpgradeStatus === 'PENDING'">
        <ion-text style="align-items:center">
          Upgrade Status is still pending
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>

