ion-fab-button {
  margin: 3px;
}

body {
  color: var(--font-color);
}

.hawkerCentreName {
  font-size: large;
}

.ratingNumber {
  padding-bottom: 2px; 
  padding-left: 2px;
}

.storeNumber {
  padding-left: 2px;
}